@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.flex {
  font-size: 30px;
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex h1 {
  margin-bottom: 50px;
}

.play {
  display: block;
  font-size: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: royalblue;
  border: none;
  color: #fff;
  font-weight: 600;
}

.selections {
  display: flex;
}

button.selection {
  display: block;
  padding: 10px 16px;
  font-size: 20px;
  margin: 0 20px;
}

.output {
  padding: 20px;
}

.output p {
  text-align: center;
  margin-bottom: 10px;
}
